 body {
        background-color: #f8f8f8;

      }

      .book-library {
        background-color: #ffffff;
		  width:50%;
        
      }
      .author {
        color: #777777;
        
      }

      .price{
		text-align:center;
		color:white;
        background-color:#2ecc71;
      }