 body {
        background-color: #f8f8f8;
        font-family: Arial, sans-serif;
      }

      .book-library {
        background-color: #ffffff;
        
      }

      .book {
        width: 200px;
		  background-color:#f8f8f9'
        border-radius: 8px;
      }

      .book img {
     
      }

      .book h3 {
        margin: 10px 0 5px;
      }

      .author {
        color: #777777;
        font-size: 14px;
        margin-bottom: 8px;
      }

      .price{
		text-align:center;
		color:white;
        background-color:#2ecc71;
        font-size: 16px;
		  border-radius:4px;
      }